/* this is the root editor css file */
html, body { min-width: 100%; min-height: 100%; margin: 0; }
body { font-family: sans-serif; background-color: #0123; display: flex; }
.panel { display: flex; flex-direction: column; align-items: center; background-color: whitesmoke; margin: 10px; }
.iframe { margin: 10px; }
iframe { width: 100%; height: 100%; }
ul { padding: 0; list-style-type: none; }
li { margin: 5px; }

#elements ul { display: flex; flex-wrap: wrap; }
#elements li { display: flex; justify-content: center; align-items: center; font-size: 12px;
  width: 50px; height: 50px; border: solid;  border-width: 1px; border-radius: 3px; }
